<div class="header">
  <h3 class="header-title">Diff Checker</h3>
</div>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="text-area_label">Original Text</p>
        <div class="input-group">
          <textarea class="form-control text-area"></textarea>
        </div>
      </div>
      <div class="col">
        <p class="text-area_label">Changed Text</p>
        <div class="input-group">
          <textarea class="form-control text-area"></textarea>
        </div>
      </div>
      <div class="col">
        <p class="text-area_label">Difference Text</p>
        <div class="input-group">
          <textarea class="form-control text-area" disabled></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-container">
  <button type="button" class="btn btn-primary">Check Diff</button>
</div>