.text-area{
    height: 500px;
}

.header{
    width:100%;
    height:50px;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.header-title{
    color: #007bff;
    float: left;
    margin : 8px 24px;
}

.btn-container{
    margin: 10px 0;
    text-align: center;
}

.text-area_label{
    text-align: center;
    font-weight: bold;
}

.differ-editor {
    height: 45vh;
    min-width:500px;
    width:100%;
    border: 1px solid #c0c0c0;
}

.differ-block{
    margin-bottom: 24px;
}